{% extends 'base.html' %}

{% block content%}
<style type="text/css">
/*body ,html{font-family: Arial, Helvetica, sans-serif;background-color: #967BB6;}*/
form{
    width:fit-content;
    padding: 60px;
    height:fit-content;
    margin:0 auto;
    /*margin-top: 0%;*/
    background-color: black;
}
/* Full-width input fields */
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom:25px;
  font-family:"Courier New", cursive;
}
.form-control:focus{
  background-color: #E2A76F;
}

/* Set a style for all buttons */
button{
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 60%;
  margin: 5px auto;
  padding: 15px;
      box-shadow: 0px 5px 5px #ccc;
      border-radius: 5px;
      border-top: 1px solid #e9e9e9;
  display:block;
  text-align:center;
}

.btn:hover{
  background-color:#3D0C02; outline:none;  border-radius: 5px; color:#f1f1f1;
}
</style>
<body>
<form action="AddDriver">
    <div class="container">
      <label for="latitude"><b>Name</b></label>
          <input type="name" class="form-control" name="name" placeholder="Enter Name">
      <label for="longitude"><b>Car Number</b></label>
          <input type="name" class="form-control" name="car_number" placeholder="Enter Car Number">
      <label for="longitude"><b>Contact</b></label>
          <input type="name" class="form-control" name="contact" placeholder="Enter Contact Number">
      <label for="latitude"><b>Latitude</b></label>
          <input type="float" class="form-control" id="lat" name="latitude" placeholder="Enter Latitude">
      <label for="longitude"><b>Longitude</b></label>
          <input type="float" class="form-control" id="lon" name="longitude" placeholder="Enter Longitude">
      <button type="submit" class="btn" OnClick="add()"/>Add Driver</button> 
    </div>
  </form>
</body>
<script type="text/javascript">
  function add(){
    alert("Driver details added..")
  }
</script>
</html>
{% endblock %}